# =========================
# Maven build output
# =========================
target/

# =========================
# Logs
# =========================
*.log

# =========================
# Compiled files
# =========================
*.class

# =========================
# IDE files
# =========================
.idea/
*.iml
.classpath
.project
.settings/

# =========================
# Environment variables
# =========================
.env

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
